$black: rgb(9, 9, 19);
$blue: rgb(17, 55, 126);
$green: rgb(71, 153, 77);
$default-background: linear-gradient(45deg, $blue 0%, $green 100%);
$deepBlue-background: linear-gradient(144deg, #0b090a 0%, 60%, #0a043c 80%, #03506f 100%);
// $sansLight-background: linear-gradient(144deg, #ebfbff 0%, 60%, #f6fbff 80%, #e9f9ff 110%);
$sansLight-background: linear-gradient(144deg, #fff2e0 0%, 60%, #ffebd5 80%, #fbddcd 110%);
$sansDark-background: linear-gradient(144deg, #0b090a 0%, 60%, #131313 80%, #384145 150%);
$hacker-background: linear-gradient(144deg, #0b090a 0%, 60%, #131313 80%, #384145 150%);
$hacker-color: rgb(27, 232, 0);
$dark: rgb(33, 37, 41);
