:root {
    --toastify-font-family: var(--bs-font-monospace) !important;
}

body {
    @extend .gradient-bg;
    @extend .font-monospace;
    color: #fff;
    font-size: 13px;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}

@media (max-width: 768px) {
    body {
        background-position-x: -100%;
        background-position-y: center;
    }
}

.modal-dialog .modal-content {
    background-color: change-color($color: $black, $alpha: 0.85);
    backdrop-filter: blur(8px);

    color: #fff;
    border: none;
    background-size: 800% 800%;
    border-radius: 0px;
}

#main-left {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    @media (max-width: 768px) {
        &[data-active-chat="true"] {
            display: none;
        }
    }

    #conversations {
        .conversation {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            cursor: pointer;

            border: none;
            border-radius: 0;

            background-color: transparent;
            color: white;

            &[data-active="true"] {
                @extend .bg-dark;
            }

            &[data-unread]::after {
                content: attr(data-unread);
                position: absolute;
                top: 50%;
                right: 1em;
                transform: translateY(-50%);
                background: #4d95cc;
                height: 42px;
                width: 42px;
                display: grid;
                place-items: center;
                border-radius: 21px;
                transition: opacity 0.4s;
            }

            .delete-btn {
                transition: opacity 0.4s;
                opacity: 0;
            }

            &:hover {
                .delete-btn {
                    opacity: 1;
                    z-index: 1;
                }
                &[data-unread]::after {
                    opacity: 0;
                }
            }
        }
    }
}

#main-right {
    display: flex;
    flex-direction: column;
    position: relative;
    @media (max-width: 768px) {
        position: static;
    }

    height: 100%;

    &[data-active-chat="false"] {
        @media (max-width: 768px) {
            display: none;
        }
    }

    #server-echo {
        @extend .custom-scrollbar;
        display: flex;
        // background-color: rgb(0, 43, 54);
        background-color: change-color($color: $black, $alpha: 0.8);
        backdrop-filter: blur(8px);
        flex-direction: column;
        width: 100%;
        min-height: 40vh;

        @media (max-width: 576px) {
            margin-left: calc(var(--bs-gutter-x) * -1);
            width: calc(100% + var(--bs-gutter-x) * 2);
            margin-top: -3rem;
        }

        transition: all 0.4s ease;
        &[data-server-view="false"] {
            min-height: 42px;
            background-color: transparent !important;
        }
        overflow-y: auto;
        > ul {
            padding: 2em !important;
            background-color: transparent !important;
            margin: 0 !important;
        }
    }

    .dropdown button::after {
        content: none;
    }

    #message-container {
        @extend .custom-scrollbar;
        margin-left: -0.5rem;
        overflow-x: hidden;
        .message-wrapper {
            .message {
                position: relative;
                max-width: 85%;
                padding-inline: 2ch;
                word-break: break-word;

                display: flex;
                flex-direction: column;

                border-radius: 16px;

                img {
                    border-radius: 16px;
                    margin: -8px -8px 0 -8px;
                    max-width: calc(100% + 14px);
                    height: auto;
                }

                &.received {
                    background-color: var(--bs-gray-800);
                    border: 1px solid var(--bs-dark);
                    align-items: start;
                    border-bottom-left-radius: 0px;
                    order: 0;
                    + .timestamp {
                        transform: translateX(-20%);
                        margin-right: auto;
                    }
                }

                &.sent {
                    background-color: transparent;
                    // color: black;
                    border: 1px solid white;
                    border-bottom-right-radius: 0px;
                    align-items: flex-end;
                    order: 1;
                    + .timestamp {
                        transform: translateX(20%);
                        margin-left: auto;
                    }
                }

                + .timestamp {
                    display: flex;
                    align-items: center;
                    padding-inline: 2ch;
                    opacity: 0;
                    transition: all 0.4s ease;
                    z-index: -1;

                    &.show {
                        opacity: 1;
                        transform: translateX(0%);
                    }
                }

                .reply {
                    position: relative;
                    width: calc(100% + 4ch);
                    left: -2ch;
                }
            }
            @media (min-width: 768px) {
                &:hover .reply-icon-wrapper {
                    opacity: 1;
                }
            }

            .reply-icon-wrapper {
                position: absolute;
                top: 50%;
                right: -1ch;
                transform: translateY(-50%) translateX(100%);
                opacity: var(--transition);
                transition: all 0.4s;
                @media (min-width: 768px) {
                    position: static;
                    cursor: pointer;
                    order: 0;
                    display: flex;
                    transform: translateX(-50%);
                    opacity: 0;
                }
            }
        }
    }

    #reply {
        border: 1px solid white;
        border-bottom: 0px;
        margin-bottom: 0.3em;

        font-size: 11px;

        @media (min-width: 768px) {
            font-size: 0.75em;
        }

        > div {
            margin-left: 1ch;
        }

        &::before {
            content: "";
            width: 1ch;
            height: 100%;
            background: #ffffff3e;
        }
        p {
            margin: 0;
            &:first-of-type {
                font-weight: 900;
            }
            &:last-of-type {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    textarea {
        resize: none;
    }

    #spotlight {
        position: absolute;
        inset: 0;
        background-color: #35353511;
        backdrop-filter: blur(8px);

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding-top: 2.5em;
        &[data-input-media="true"] {
            padding-bottom: 9em;
        }

        .close-btn {
            position: absolute;
            top: 1em;
            right: 1em;
            mix-blend-mode: difference;
            z-index: 1;
        }

        .react-transform-wrapper {
            height: 100%;
            width: 100%;
            .react-transform-component {
                height: 100%;
                width: 100%;

                img {
                    max-width: 90%;
                    max-height: 100%;
                    object-fit: cover;
                    margin: auto;
                    border-radius: 1em;
                }
            }
        }

        // z-index: -1;
    }
}

input.form-control,
textarea {
    background-color: transparent !important;
    color: white !important;
    transition: all 0.4s;

    &::placeholder {
        color: white;
        // @extend .font-monospace;
    }

    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
        border-color: var(--bs-info);
    }
}

.enter-form {
    input {
        &[type="text"],
        &[type="password"] {
            border: 3px solid white;
            &::placeholder {
                color: white;
            }
        }
    }

    .forgot,
    .login,
    .register {
        &:not(:hover) {
            color: white;
        }
    }
}

#user-dialog {
    .user-result {
        background: transparent;
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}
