.cursor-pointer {
    cursor: pointer;
}

.gradient-bg {
    background: var(--background);
    background-size: 400% 400%;
}

.btn-submit {
    @extend .rounded-0;
    @extend .border-3;
    &:not(:hover) {
        color: white;
    }
}
