@import "~bootstrap/scss/bootstrap";

.cursor-pointer {
    cursor: pointer;
}

html[data-theme-dark] {
    filter: hue-rotate(180deg) invert(1);
}

$black: rgb(9, 9, 19);
.gradient-bg {
    //     background: #606c88; /* fallback for old browsers */
    //     background: -webkit-linear-gradient(to right, #4e5972, #3f5b6b); /* Chrome 10-25, Safari 5.1-6 */
    //     background: linear-gradient(
    //         to bottom right,
    //         #606c88,
    //         #3f4c6b
    //     ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(45deg, rgba(17, 55, 126, 1) 0%, #47994d 100%);
    background-size: 400% 400%;
}
body {
    // background: $black;
    @extend .gradient-bg;
    color: #fff;
}

.modal-dialog .modal-content {
    // @extend .gradient-bg;

    @extend .bg-dark;

    color: #fff;
    border: none;
    background-size: 800% 800%;
    border-radius: 0px;
}

#conversations {
    .conversation {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        cursor: pointer;

        border: none;
        border-radius: 0;

        background-color: transparent;
        color: white;

        &[data-active="true"] {
            // border: none;
            // background-color: rgba(255, 255, 255, 0.1);
            @extend .bg-dark;
        }

        .delete-btn {
            transition: opacity 0.4s;
            opacity: 0;
        }

        &:hover {
            .delete-btn {
                opacity: 1;
            }
        }
    }
}

.custom-scrollbar {
    /* width */
    &::-webkit-scrollbar {
        width: 0.5ch;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        cursor: pointer !important;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

#message-container {
    @extend .custom-scrollbar;
    margin-left: -0.5rem;
    .message {
        position: relative;
        max-width: 75%;
        padding-left: 2ch;
        padding-right: 2ch;

        display: flex;
        flex-direction: column;

        @extend .font-monospace;

        border-radius: 16px;

        &.received {
            background-color: var(--bs-gray-800);
            border: 1px solid var(--bs-dark);
            align-items: start;
            border-bottom-left-radius: 0px;
            padding-left: 1.75ch;
            order: 0;
            + .timestamp {
                transform: translateX(-20%);
                margin-right: auto;
            }
        }

        &.sent {
            background-color: transparent;
            // color: black;
            border: 1px solid white;
            border-bottom-right-radius: 0px;
            align-items: flex-end;
            padding-right: 1.75ch;
            order: 1;
            + .timestamp {
                transform: translateX(20%);
                margin-left: auto;
            }
        }

        + .timestamp {
            display: flex;
            align-items: center;
            padding-inline: 1ch;
            opacity: 0;
            transition: all 0.4s ease;
            z-index: -1;

            &.show {
                opacity: 1;
                transform: translateX(0%);
            }
        }

        // filter: drop-shadow(-16px -16px 32px rgba(255, 255, 255, 0.2)) drop-shadow(16px 16px 32px rgba(32, 32, 32, 0.2));
    }
}

input.form-control {
    background-color: transparent !important;
    color: white !important;

    &::placeholder {
        color: white;
        @extend .font-monospace;
    }

    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
        border-color: var(--bs-info);
    }
}

.enter-form {
    input {
        &[type="text"],
        &[type="password"] {
            border: 3px solid white;
            &::placeholder {
                color: white;
            }
        }
    }

    .forgot,
    .login,
    .register {
        &:not(:hover) {
            color: white;
        }
    }
}

.btn-submit {
    @extend .rounded-0;
    @extend .font-monospace;
    @extend .border-3;
    &:not(:hover) {
        color: white;
    }
}

#user-dialog {
    .user-result {
        background: transparent;
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}
